<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8" name="viewport" content="width=device-width, initial-scale = 1" />
        <title>台北一日遊</title>
        <link rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="outtoptitle">
            <div class="toptitle">
                <div class="theme">台北一日遊</div>
                <div class="booking">預定行程</div>
                <div class="signin_signup">登入/註冊</div>
            </div>
        </div>
    </hr>
        <div class="">
            <div class="圖"></div>
            <div class="orderblock">
                <div class="attrname"></div>
                <div class="attrcategoryandmrt"></div>
                <div class="orderblock">
                    <div>訂購導覽行程</div>
                    <div>以此景點為中心的一日行程，帶您探索城市角落故事</div>
                    <div>選擇日期：</div>
                    <div>選擇時間：</div>
                    <div>導覽費用：新台幣2000元</div><div>導覽費用：新台幣2500元</div>
                    <button>開始預約行程</button>
                </div>
            </div>
        </div>
    </hr>
        <div class="datablock">
            <div class="attrintroduce"></div>
            <div class="attraddress">景點地址：</br></div>
            <div class="attrtraffic">交通方式：</br></div>
        </div>

        <footer></footer>
    </body>
</html>