<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>台北一日遊</title>
        <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}"/>
        <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/member.css')}}"/>
    </head>
    <body>
        <div class="outtoptitle">
            <div class="toptitle">
                <div class="theme" onclick="toindex()">台北一日遊</div>
                <div class="booking">預定行程</div>
                <div id="login" class="signin_signup">登入/註冊</div>
                <div id="logout" class="logout">登出</div>
            </div>
        </div>
    
        <div class="welcome">
            <div class="welcome_img">
                <div class="welcome_text">
                    <div class="welcometext1">輕鬆享受台北一日悠閒</div>
                    <div class="welcometext2">探索每個角落，體驗城市的深度旅遊行程</div>
                    <div>
                        <input id="search_input" class="search_input" placeholder="輸入景點名稱查詢" onclick="blockon()"><div class="blockoff" onclick="blockoff()"></div><button id="" class="search_button"><img class="iconsearch_img" src="/img/icon_search.png" /></button>
                    </div>
                    <div class="search_category"></div>
                </div>
            </div>
        </div>
        <div class="loginmodal">
            <div class="top"></div>
            <form class="loginform">
                <span class="close">&times;</span>
                <div class="logintitle">登入會員帳號</div>
                <div class="inputblock">
                    <input type="text" name="email" class="loginemail" placeholder="輸入電子信箱" required />
                    <input type="password" name="password" class="loginpw" placeholder="輸入密碼" required />
                    <button class="loginbtn">登入帳戶</button>
                    <p class="logintext"></p>
                    <div class="logintosignup">還沒有帳戶？點此註冊</div>
                </div>
            </form>
        </div>
        <div class="signupmodal">
            <div class="top"></div>
            <form class="signupform">
                <span class="close">&times;</span>
                <div class="signuptitle">註冊會員帳號</div>
                <div class="inputblock">
                    <input type="text" name="user" class="signupuser" placeholder="輸入姓名" required />
                    <input type="text" name="email" class="signupemail" placeholder="輸入電子信箱" required />
                    <input type="password" name="password" class="signuppw" placeholder="輸入密碼" required />
                    <button class="signupbtn">註冊新帳戶</button>
                    <p class="signuptext"></p>
                    <div class="signuptologin">已經有帳戶了？點此登入</div>
                </div>
            </form>
        </div>
        

        <main></main>
        <footer id="footer">COPYRIGHT © 2021 台北一日遊</footer>

    </body>
    <script src="../js/index.js"></script>
    <script src="../js/member.js"></script>
</html>